div{
	font-size: 44px;
}

#score {
	border-radius: 20px;
	border-width: 3px;
	border-style: solid;
	height: 100px;
	width: 250px;
	box-sizing:border-box;
	background-color: #FF6347;
	margin: 50px;
	margin-left: 424px;
}
body{
	background-color:rgba(67, 102, 0, 0.36); 
}

p.first {
	font-size: 50px;
	margin-left: 450px;
	font-family: 'Itim', cursive;
}

#text {
	margin-left: 200px;
	margin-bottom: 80px;
}

main {
	margin-left: 400px;
	background-color: #776e65;
	box-sizing:border-box;
	height: 740px;
	width: 560px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	border-radius: 13px;
}

div.blank {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgba(205, 193, 180,1);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.two {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(195, 146, 97);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
} 
div.four {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(177, 158, 124);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.eight {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: purple;
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.sixteen {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color:yellow;
	height: 100px;
	width: 100px; 
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.thirty-two {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: orange;
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.sixty-four {
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(255, 255, 102);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.one-twenty-eight{
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(204, 0, 0);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.two-fifty-six{
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(153, 51, 0);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;

}
div.five-hundred-twelve{
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(71, 108, 218);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.one-thousand-twenty-four{
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(0, 204, 0);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
div.two-thousand-forty-eight{
	border-width: 2px;
	text-align: center;
	border-style: solid;
	border-color: black;
	box-sizing:border-box;
	background-color: rgb(255, 51, 0);
	height: 100px;
	width: 100px;
	border-radius: 13px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
